
#github-widget .boxed-group > h3, .boxed-group .heading {
    background-color: #F5F5F5;
    margin: 0px;
    border-radius: 3px 3px 0px 0px;
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: #D8D8D8;
    border-image: none;
    padding: 9px 10px 10px;
    font-size: 14px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: bold;
    line-height: 17px;
    display: block;
}
#github-widget .boxed-group {
    margin: 5px;
}
#github-widget .boxed-group-inner {
    margin: 0;
    padding: 0px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D8D8D8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 13px;
    list-style: outside none none;
    overflow: auto;
}
#github-widget ul li {
    list-style: outside none none;
}
#github-widget .mini-repo-list > li:first-child .mini-repo-list-item {
    border-top: 0 solid #E5E5E5;
}
#github-widget ul li a {
    border-top: 0px none;
    position: relative;
    display: block;
    padding: 6px 64px 6px 30px;
    font-size: 14px;
    border-top: 1px solid #E5E5E5;
    color: #4078C0;
    text-decoration: none;
}
#github-widget ul li a .repo-and-owner span {
    color: #4078C0;
    font-weight: bold
}
#github-widget .no-description .mini-repo-list-item {
    padding-top: 17px;
    padding-bottom: 16px;
}
#github-widget .mini-repo-list-item .repo-icon {
    float: left;
    margin-top: 2px;
    margin-left: -20px;
    color: #666;
}

#github-widget ul li a .mini-repo-list-item .repo-and-owner {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
#github-widget .mini-repo-list-item .stars {
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: 16px;
    font-size: 12px;
    color: #888;
}
#github-widget .mini-repo-list-item .repo-description {
    display: block;
    max-width: 100%;
    font-size: 12px;
    color: #767676;
    line-height: 21px;
}
#github-widget .contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
}
#github-widget .text-muted {
    color: #767676;
}
#github-widget .left {
    float: left;
}
#github-widget .contrib-legend {
    float: right;
}
#github-widget .contrib-legend .legend {
    display: inline-block;
    list-style: outside none none;
    margin: 0px 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}
#github-widget .contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}
#github-widget .contrib-column {
    padding: 15px 0px;
    text-align: center;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    font-size: 11px;
}
#github-widget .contrib-column-first {
    border-left: 0px none;
}
#github-widget .table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}
#github-widget .contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}
#github-widget .calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}
#github-widget .calendar-graph text.wday {
    fill: #ccc;
    font-size: 9px;
}
#github-widget .clearfix:after {
    display: table;
    clear: both;
    content: "";
}

#github-widget .pinned-repos-list {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	list-style:none;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between
}
#github-widget .pinned-repo-item {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	width:356px
}
#github-widget .pinned-repo-item #github-widget .pinned-repository-handle {
	padding-top:1px;
	color:#767676
}
#github-widget .pinned-repo-item #github-widget .pinned-repository-handle:hover {
	cursor:-webkit-grab;
	cursor:grab
}
#github-widget .pinned-repo-item.is-dragging,#github-widget .pinned-repo-item.is-dragging #github-widget .pinned-repository-handle {
	cursor:-webkit-grabbing;
	cursor:grabbing
}
#github-widget .pinned-repo-item.is-dragging {
	background-color:#f2f8fa
}
#github-widget .pinned-repo-item.sortable-ghost {
	background-color:#f2f8fa;
	opacity:0
}
#github-widget .pinned-repo-item.empty {
	border-style:dashed;
	border-width:1px;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	justify-content:center
}
#github-widget .pinned-repo-item-content {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	width:100%;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	flex-direction:column
}
#github-widget .pinned-repo-desc {
	-webkit-box-flex:1;
	-webkit-flex:1 0 auto;
	flex:1 0 auto
}
#github-widget .pinned-repo-language-color {
	position:relative;
	top:1px;
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:12px;
	border-radius:50%
}

#github-widget .rounded-1 {
    border-radius: 3px !important;
}
#github-widget .border-gray-dark {
    border-color: #ddd !important;
}
#github-widget .border {
    border: 1px #e5e5e5 solid !important;
}

#github-widget .p-3 {
    padding: 12px !important;
}
#github-widget .mb-3 {
    margin-bottom: 12px !important;
}